<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registro de Usuarios</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/register.css">
    </head>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <body>
        <form action="/" method="GET">
            <div>
                <label>Nombre y apellido:</label>
                <input type="text" name="name" placeholder="Escriba su nombre" required>
            </div>
            <div>
                <label>Nombre de usuari@:</label>
                <input type="text" name="username" placeholder="Escriba su username" required>
            </div>
            <div class="date">
                <label>Fecha de nacimiento:</label>
                <input type="date" name="birthday" required>
            </div>
            <div class="address">
                <label>Domicilio:</label>
                <input type="text" name="username" placeholder="Escriba su domicilio" required>
            </div>
            <div class="userProfile">
                <label>Perfil del usuario:</label>
                <input type="radio" name="userProfile" value="Deseo comprar"><span>Deseo comprar</span>
                <input type="radio" name="userProfile" value="Deseo vender"><span>Deseo vender</span>
            </div>
            <div class="categories">
                <label>Categorías de interés:</label>
                <input type="checkbox" name="interested" value="Electro"><span>Electro</span>
                <input type="checkbox" name="interested" value="Moda"><span>Moda</span>
                <input type="checkbox" name="interested" value="Hogar"><span>Hogar</span>
                <input type="checkbox" name="interested" value="Juguetería"><span>Juguetería</span>
                <input type="checkbox" name="interested" value="Vida sana"><span>Vida sana</span>
            </div>
            <div class="photo">
                <label>Foto de usuario:</label>
                <input type="file" name="avatar" accept=".jpg, .png">
            </div>
            <div>
                <label>Contraseña:</label>
                <input type="password" name="password" placeholder="Escriba su contraseña" required>
            </div>
            <div>
                <label>Confirmar contraseña:</label>
                <input type="password" name="password" placeholder="Confirme su contraseña" required>
            </div>
            <button type="reset">Borrar</button>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>


